<app-header></app-header>


<ion-content [fullscreen]="true">
  <ion-title>Recupera tu Cuenta</ion-title>
  <div *ngIf="!enviado && !verificado" class="container">
    <p>Ingresa tu correo electrónico</p>
    <ion-input label="Correo electrónico:"[(ngModel)]="correo" required clearInput></ion-input>
    <ion-button expand="block" (click)="resetPassw()">Enviar código</ion-button>
  </div>

  <div *ngIf="enviado && !verificado" class="enviado">
    <p>Ingresa el código enviado a tu correo</p>
    <ion-input label="Código: "[(ngModel)]="tokenInput" required clearInput></ion-input>
    <ion-button expand="block" (click)="verifyToken()">Verificar código</ion-button>
  </div>

  <div *ngIf="enviado && verificado" class="enviado">
    <p>Ingresa tu nueva contraseña</p>

    <ion-input type="password" [(ngModel)]="passw" required clearInput label="Nueva contraseña:" required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-input type="password" [(ngModel)]="passwConfirm" required clearInput label="Confirma contraseña:" required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-button expand="block" (click)="cambiarPassw()">Cambiar contraseña</ion-button>
  </div>
</ion-content>
