<app-header [signing]="true"></app-header>


<ion-content [fullscreen]="true">
  <div id="titletext">
    <ion-title>Crea tu cuenta</ion-title>
  </div>

  <div id="container">      
    <ion-input label="Correo electrónico:"></ion-input>
    <ion-input label="Nombre y apellido:"></ion-input>
    <ion-input label="Número telefónico:"></ion-input>
    <ion-input label="Dirección:"></ion-input>
    <ion-input type="password" label="Contraseña:" required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <ion-input type="password" label="Confirmar contraseña:"required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-button (click)="goToHome()"> Registrarse </ion-button>
    <p class="underdot" routerLink="/login"> Ya tienes cuenta? Inicia sesión </p>

  </div>
</ion-content>