<ion-header>
  <ion-toolbar>
    <div class="logo-container">
      <img src="assets/img/burgerlogo.png" alt="Logo" class="logo" (click)="goToHome()"/>
      <ion-title class="headertext">The Burger</ion-title> 
    </div>

    <ion-buttons slot="end" *ngIf="!isAuthenticated">
      <ion-button fill="solid" class="custom-button" (click)="goToSignUp()">Registrarse</ion-button>
      <ion-button fill="solid" class="custom-button" (click)="goToLogin()">Iniciar sesión</ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isAuthenticated">
      <ion-button fill="solid" class="custom-button" (click)="goToProfile()">Mi cuenta</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>